default:
  min_level: 1
  max_level: 70
  # copper
  start_money: 10000

movement:
  speed:
    walk: 2.5
    run: 7.0
    run_back: 4.5
    swim: 4.722222
    swim_back: 2.5
    flight: 7.0
    flight_back: 4.5
    turn: 3.141594